<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<title>UTPL-Control COVID</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.min.js"></script>

<!-- Custom styles for this template -->
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/contacts.css}" rel="stylesheet" />

<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css'
	rel='stylesheet' />
<script
	src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
	href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
	type="text/css" />
<script
	src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>


</head>

<body>

	<style>
		#marker {
			background-image:
				url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
			background-size: cover;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			cursor: pointer;
		}
		
		.mapboxgl-popup {
			max-width: 200px;
		}
	</style>

	<div class="container">

		<h1>
			Bienvenido,
			<spam th:text="${userName}"></spam>
			!!!
		</h1>
		<br />
		<div class="panel panel-default">
			<h3 style="text-align: center">Registro de personas con COVID</h3>
			<ul class="nav nav-pills nav-fill">
				<li class="nav-item"><a class="nav-link disabled" href="#"
					tabindex="-1" aria-disabled="true">Mapa</a></li>
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="#" th:href="@{/contacts/table?result=0}">Tabla
						Registro</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/contacts/contactForm?id=0}">Agregar persona</a></li>
			</ul>
		</div>

		<div id='map' style='text-align: center; with: 600px; height: 550px;'></div>

		<div th:if="${result == 1}" class="alert alert-success" role=alert>Registro
			exito de la persona!!</div>
		<div th:if="${result == 5}" class="alert alert-danger" role=alert>Error
			al registrar nueva persona!!</div>
		<div th:if="${result == 2}" class="alert alert-info" role=alert>Persona
			eliminada!!</div>
		<br>
		<form th:action="@{/logout}" method="POST">
			<button class="btn btn-lg btn-danger btn-block" type="submit">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				Salir
			</button>
		</form>
	</div>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var contacts = /*[[${contacts}]]*/"Contacts";
		console.log(contacts);
		
		mapboxgl.accessToken = 'pk.eyJ1IjoiZWRpYXp1Y2UiLCJhIjoiY2tpOXB1dmtkMDNmdDJycDZ0cWw5NHAwMyJ9.rZNUmdToJ7-nS5dFkM6FVQ';
		
		var map = new mapboxgl.Map({
			container : 'map',
			style : 'mapbox://styles/mapbox/streets-v11',
			center : [-78.73105937349755, -1.43729413961721996],
			zoom : 6
		});
		
		contacts.forEach(contact => {
			new mapboxgl.Marker()
			.setLngLat([ contact.longitude, contact.latitude ])
			.setPopup(new mapboxgl.Popup({ offset: 25 })
			.setText(contact.firstName
					.concat(" ", contact.lastName, " - ", contact.confinementDays, " dias confinamiento.")))
			.addTo(map);
		});
		
		/*]]>*/
	</script>
</body>
</html>